/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(248, 239, 225);
  --color-secondary: rgb(233, 124, 110);
  --color-tertiary: rgb(234, 78, 21);
  --color-quarternary: white;
}

html {
  font-size: 62.5%;  /* 1rem = 10px */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

#root {
  width: 600px;
  height: 600px;
  background-color: var(--color-quarternary);
  border: solid red 1px;
}

/* Navbar */

nav {
  display: flex;
  padding: 1%;
  background-color: var(--color-secondary);
}
    nav img {
      width: 25%;
    }
    .nav-list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15%;
    }
        .nav-list-item {
          list-style: none;          
        }
        .nav-list-item:hover {
          transform: scale(1.2);
        }
            .nav-link {
              font-size: 1.6rem;
              text-decoration: none;
              color: white;
            }
            

/* About */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
}
    .about p {
      text-align: justify;
      line-height: 3rem;
      margin-top: 10%;
    }

/* Categories */

.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
  margin-bottom: 1%;
  background-color: var(--color-secondary);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
    .category .button {
      font-size: 1.6rem;
      border: none;
      background-color: transparent;
      color: white;
      cursor: pointer;
    }
        .category .button:hover {
          transform: scale(1.2);
        }

/* Plates */

.plates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
}

/* Plate */

  .plate {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 2%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--color-primary);
  }
      .plate img {
        width: 60%;
        border: solid var(--color-secondary);
        border-radius: 5%;
      }
          .plate .title-and-price{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1%;
            margin-bottom: 2%;
          }      
              .plate .title {
                font-size: 1.5rem;
                color: var(--color-tertiary);
                text-transform: capitalize;
                white-space: nowrap;
              }
              .plate .price {
                font-size: 1.5rem;
                color: var(--color-tertiary);
                text-transform: capitalize;
                white-space: nowrap;
              }
          .plate .info {
            display: flex;
            align-items: center;
            justify-content: center;
          }
              .plate .description-and-button {
                display: flex;
                flex-direction: column;
                padding-left: 1%
              }
                  .plate .description {
                    font-size: 1.4rem;
                    text-align: justify;
                  }
                  .plate .description-and-button .button {
                    font-size: 1.4rem;
                    text-decoration: none;
                    text-align: center;
                    color: white;
                    margin-top: 15%;
                    padding: 3%;
                    border-radius: 5%;
                    background: var(--color-secondary);
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                  }
                      .plate .description-and-button .button:hover {
                        background: var(--color-tertiary);
                      }

/* Plate Details */

.plate-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
    .plate-details .title {
      font-size: 2.2rem;
      margin-top: 2%;
      color: var(--color-tertiary);
      text-transform: capitalize;
      white-space: nowrap;
    }
    .plate-details .price {
      font-size: 2rem;
      margin-bottom: 2%;
      color: var(--color-tertiary);
      text-transform: capitalize;
      white-space: nowrap;
    }
    .plate-details img {
      width: 60%;
      border: solid var(--color-secondary);
      border-radius: 5%;
    }
    .plate-details p {
      font-size: 1.6rem;
      width: 60%;
      min-height: 17rem;
      text-align: justify;
      line-height: 2.2rem;
      padding: 3% 0;
    }
        .plate-details .read-more{
          background-color: transparent;
          border: none;
          color: blue;
          font-size: 1.6rem;
          line-height: 1.75rem;
          text-align: start;
          padding: 0;
          padding-left: 2%;
        }
    .plate-details .button {
      font-size: 1.8rem;
      text-decoration: none;
      text-align: center;
      color: white;
      padding: 1.2%;
      border-radius: 5%;
      background: var(--color-secondary);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
    .plate-details .button:hover {
      background: var(--color-tertiary);
    }

/* Reviews */

.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
}
    .arrow {
      font-size: 10rem;
      margin: 6%;
      margin-top: -45%;
      color: var(--color-secondary);
    }
    .arrow:hover {
      color: var(--color-tertiary);
      transform: scale(1.2);
    }

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  padding: 5% 2%;
}
    .review .img-container {
      position: relative;
      width: 14rem;
      height: 14rem;
      margin: 5% 0;
    }
        .review img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
        .quote-icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 4rem;
          height: 4rem;
          display: grid;
          place-items: center;
          border-radius: 50%;
          background: var(--color-secondary);
          color: var(--color-primary);
        }
    .review .name {
      font-size: 2.2rem;
      margin-bottom: 5%;
    }
    .review p {
      font-size: 1.6rem;
      text-align: center;
      line-height: 3rem;
      min-height: 50rem;
    }

/* Error */

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
}

.error p {
  text-align: center;
  line-height: 3rem;
  margin-top: 15%;
  width: 80%;
}

/* @media */

@media (max-width: 1024px) {
  #root {
    width: 560px;
    height: 560px;
  }

  html {
    font-size: 7px;
  }
}
@media (max-width: 768px) {
  #root {
    width: 420px;
    height: 420px;
  }
}
@media (max-width: 576px) {
  #root {
    width: 350px;
    height: 350px;
  }

  html {
    font-size: 6px;
  }
}
@media (max-width: 425px) {
  #root {
    width: 240px;
    height: 240px;
  }

  html {
    font-size: 4px;
  }
}